<!DOCTYPE html> 
<html lang="en"> 
<head> 
   <meta charset="UTF-8"> 
   <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" /> 
   <title>My Website - About</title> 
</head> 
<body> 
   <h1>Jada-Ann Vite</h1> 
   <p>I am a 23 year old Applied Chemistry major. My interests include
    reading, nature and baking. My favourite part of the day is watching
    the sunset. Career wise, I hope to explore the chemical side of waste 
    water management or to become a chemical data analyst, hence the minor
    in Information Technology. 
   </p> 
   <img src="{{url_for('static', filename='molecular-model.jpg') }}" />
</body> 
</html>